@tailwind components;
@tailwind utilities;
@tailwind base;

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
body {
  direction: rtl !important;
}

/* Swiper */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important
;
}
.swiper-pagination-bullet-active {
  width: 35px !important;
  border-radius: 20px !important;
}
